<include file="Public/mobile_head2"/>
<title>健康数据</title>
<link href="{:ADDON_PUBLIC_PATH}/css.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<body>

	<nav class="navbar navbar-fixed-top text-center">
 	    <img src="__ROOT__/Public/Home/images/detai.jpg"/>
	</nav>

	<div id="container" class="container">
	<br></br><br>
    	<div class="lead_box">
        	<h6>您宝宝的健康</h6>
            <div class="lead_content">
		<volist name="lists" id="vo">
		    <p><font size="4"color="blue">日期 {$vo.cTime|substr=5,5}</font><volist name="vo['hdata']" id="f"><p>{$f}</p></volist></p><br>
		</volist>
	    </div>
	<font size="3" color="#555">{$infos}</font>
	</div>
    <p class="copyright">德泰教育 © 2015</p>
</body>
</html>
